@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk-Regular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk-SemiBold.otf") format("opentype");
    font-weight: 600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
    background: #161723;
    
}

.wrapper{
    color: #fff;
    font-family: "Space Grotesk";
    min-height: 100vh;
    height: 100%;

    &.background{
        background: url("../img/background.png");
    }
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 1140px){
    .container{
        padding: 0px 10px;
    }
}

img{
    max-width: 100%;
}

.red{
    color: #F31818;
}

header{
    padding-top: 110px;

    &.background{
        background: url("../img/background.png");
    }
}

.navigation {
    padding: 25px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgba(22,23,35, 0.9);
    backdrop-filter: blur(5px);
    z-index: 100;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .menu{
            display: flex;

            .menu__item{
                margin-right: 35px;
            }

            .menu__link{
                color: #fff;
                text-decoration: none;
                font-weight: normal;

                &:hover{
                    color: #F31818;
                    transition: color 0.3s;
                }
            }
        }

        .button{
            border: 2px solid #F31818;
            border-radius: 13px;
            padding: 15px 24px;
            cursor: pointer;
            transition: all 0.3s;
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            
            &:hover{
                background: #F31818;
            }

            &:active{
            color: #fff;

            }
        }
    }
}

.header__content{

    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .header__subtitle{
            font-weight: 400;
            font-size: 22px;
            line-height: 150%;
            color: #C2C2C2;
            margin-bottom: 23px;
        }

        .header__title{
            font-weight: 600;
            font-size: 59px;
            line-height: 125%;
            color: #FFFFFF;
            max-width: 550px;
            margin-bottom: 32px;

        }

        .header__subtitle-gray{
            color: #595763;
            max-width: 500px;
            font-weight: 400;
            font-size: 22px;
            line-height: 150%;
            margin-bottom: 61px;
        }

        .header__token{
            position: absolute;
            right: 0px;
        }

        .header__button{
            background: #F31818;
            border-radius: 17px;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 22px 57px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            width: 250px;


            &:hover{
                cursor: pointer;
                width: 270px;
            }

            &:after{
                content: "";
                transition: transform 0.2s;
                transform: translate(0px);
                margin-left: 5px;
            }

            &:hover:after{
                transition: transform 1s;
                content: "";
                display: block;
                background: url("../img/arrow.svg");
                background-size: cover;
                width: 21.25px;
                height: 18px;
                transition: transform 0.2s;
                margin-top: 2px;
                transform: translate(10px);
            }
        }

    }
}

main{
    padding: 60px 0px;

    &.noPadding{
        padding: 0;
    }

    &.background{
        background: url("../img/page_bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 230px center;
    }

    &.fullHeight{
        height: 100vh;
        overflow: scroll;
    }

    &.flex{
        display: flex;
    }
}

.facts{
    .container{
        background: #202030;
        box-shadow: 13px 13px 44px rgba(17, 17, 21, 0.14);
        border-radius: 18px;
        padding: 40px 45px;
        display: flex;
        align-items: center;

        .fact{
            display: flex;
            align-items: center;

            .fact__icon{
                margin-right: 34px;
            }

            .fact__name{
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                color: #FFFFFF;
            }
        }
    }
}

.about{
    padding-top: 80px;

    .about__tite{
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
    }
}

.warning{
    min-height: 100%;
    width: 45%;
    background: url("../img/log_in_bg.jpg");
    background-size: cover;

    .container{
        height: 100%;
        width: 414px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .warning__logo{
            align-self: flex-start;
            width: 500px;
            margin-bottom: 50px;
        }

        .warning__text{
            font-size: 26px;
            line-height: 150%;
            align-self: flex-start;
            margin-bottom: 40px;
        }

        .warning__sign{
            align-self: flex-start;
            font-size: 22px;
        }
    }
}

.login{
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;

    .login__title{
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;  
        margin-bottom: 20px;      
    }

    .login__form{
        max-width: 300px;

        form{
            display: flex;
            flex-direction: column;
            max-width: 300px;

            label{
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                color: #9CA0AF;
            }

            .form__box{
                background: #FFFFFF;
                border-radius: 13px;
                display: inline-block;
                display: flex;
                align-items: center;
                padding: 13px 16px;
                margin-top: 15px;

                input{
                    background: none;
                    border: none;
                    width: 100%;
                }

                .icon{
                    margin-right: 15px;
                }
            }

            .buttons{
                display: flex;
                justify-content: space-between;

                input[type="submit"], .button{
                    border: none;
                    color: #fff;
                    border-radius: 13px;
                    margin-top: 30px;
                }

                .button{
                    border: 2px solid #F31818;
                    padding: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                input[type="submit"]{
                    padding: 15px 83px;
                    background: #F31818;
                    cursor: pointer;
                }
            }

        }
    }

    .form__help{
        margin-top: 10px;
        font-size: 12px;
        text-align: center;

        a{
            text-decoration: none;
            
        }
    }
}

.about{

    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about__title{
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
    }

    .about__text{
        font-weight: 600;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        max-width: 540px;
        margin-top: 30px;
    }

    .about__partners{
        margin-top: 33px;
        display: flex;
        align-items: center;

        img:not(:last-child){
            margin-right: 38px;
        }
    }
}

.currency{
    text-align: center;
    padding: 90px 0px;
    background: url("../img/currency_bg.svg"), #202030;
    background-repeat: no-repeat;
    background-position: center center;

    .currency__title{
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: #FFFFFF;
        margin-bottom: 42px;
    }

    .currency__text{
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        max-width: 604px;
        margin: 30px auto;
    }
}

.shop{
    padding: 56px 0px;

    .shop__title{
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 20px;
    }

    .shop__subtitle{
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        text-align: center;
        color: #595763;
        width: 455px;
        margin: 0 auto;
    }

    .shop__items{
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        padding: 0px 50px;

        

        .shop__item{
            background: #fff;
            width: 300px;
            border-radius: 17px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            height: 250px;
            padding: 20px;
            position: relative;

            &:nth-child(2){
                margin-top: -50px;

                .item__img{
                    right: -10%;
                }
            }

            

            .togather{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .item__img{
                position: absolute;
                top: -30%;
                right: 5%;
            }

            .item__name{
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                color: #595763;
                width: 100%;
            }

            .item__price{
                color: #202030;
                font-weight: 700;
                font-size: 41px;
                line-height: 52px;
            }

            .item__button{
                background: #F31818;
                border: 2px solid #F31818;
                border-radius: 13px;
                display: block;
                padding: 10px 24px;
                cursor: pointer;

                &:hover{
                    background: #161723;
                    transition: all 0.3s;
                    border: 2px solid #161723;
                }
            }
        }
    }

    .shop__subtext{
        margin-top: 30px;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        /* identical to box height, or 33px */

        text-align: center;

        color: #595763;
    }
}

.banner{
    padding: 100px 0px;
    background: #202030;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
}

.team{
    padding: 40px 0px;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .team__content{
            width: 50%;

            .team__title{
                font-weight: 600;
                font-size: 32px;
                line-height: 38px;
                color: #FFFFFF;
                margin-bottom: 40px;
            }

            .team__text{
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                color: #FFFFFF;
                margin-bottom: 100px;
            }

            .team__button{
                padding: 22px 57px;
                background: #F31818;
                border-radius: 17px;
                text-decoration: none;
                color: #fff;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                text-align: center;

                color: #FFFFFF;

                &:hover{
                    transition: all 0.3s;
                    background-color: #F52A2A;
                }
            }
        }
    }
}

.footer{
    padding: 10px 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #595763;
}

.acc__title{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */


    color: #FFFFFF;
    text-align: center;
    margin-left: -150px;
}

.acc__balance{
    border-bottom: 1px solid #F31818;
    padding-bottom: 5px;
    font-size: 20px;
}

.acc{

    .container{
        display: flex;


        .acc__sidemenu{
            width: 20%;

            .acc__submenuitem{
                margin-bottom: 20px;

            }

            .acc__submenuitem a{
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;

                color: #FFFFFF;
                text-decoration: none;
            }
        }

    }

    .acc__blocks{
        width: 300px;
        margin-right: auto;
        margin-left: 200px;

        .acc__block{
            margin-top: 15px;

            .acc__name{
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #9CA0AF;
                margin-bottom: 20px;
            }

            .acc__value{
                width: 100%;
                border: 1px solid #FFFFFF;
                border-radius: 13px;
                padding: 14px 16px;
            }
        }
    }
}

.shops{
    width: 80%;
    padding-top: 0;

    
    .shop__items{
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        padding: 0px 50px;

        .shop__item{
            background: #fff;
            width: 300px;
            border-radius: 17px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            height: 250px;
            padding: 20px;
            position: relative;

            &:nth-child(2){
                margin-top: -50px;

                .item__img{
                    right: -10%;
                }
            }

            .togather{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .item__img{
                position: absolute;
                top: -30%;
                right: 5%;
            }

            .item__name{
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                color: #595763;
                width: 100%;
            }

            .item__price{
                color: #202030;
                font-weight: 700;
                font-size: 41px;
                line-height: 52px;
            }

            .item__button{
                background: #F31818;
                border: 2px solid #F31818;
                border-radius: 13px;
                display: block;
                padding: 10px 24px;
                cursor: pointer;

                &:hover{
                    background: #161723;
                    transition: all 0.3s;
                    border: 2px solid #161723;
                }
            }
        }
    }
    .shop__items{
        margin-top: 0;
        padding: 0;

        &:nth-child(2){
            margin-top: 80px;
        }

        .shop__item:nth-child(2){
            margin-top: 0;
        }

        .shop__item{
            width: 280px;

            &:nth-child(2){
                .item__img{
                    position: absolute;
                    top: -30%;
                    right: -3%;
                }
            }
        }

        
    }
}

.item-red:after{
    position: absolute;
    content: "TOP";
    display: block;
    width: 50px;
    height: 100px;
    background: #F31818;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    border-top-left-radius: 17px;
}

.challenges{
    display: flex;
    flex-direction: column;
    width: 80%;

    .challenge{
        background: #FFFFFF;
        border-radius: 17px;
        width: 100%;
        padding: 22px 39px;
        color: #202030;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        /* or 33px */
        margin-top: 20px;

        text-align: center;

        color: #202030;

        .challenge__button{
            background: #F31818;
            border: 2px solid #F31818;
            border-radius: 13px;
            padding: 10px 24px;
            color: #fff;

            &:hover{
                transform: scale(1.1);
                transition: all 0.3s;
            }
        }


        div:not(:last-child){
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #F31818;
            padding-right: 37px;
            margin-right: 28px;
        }
    }
}